div {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 8px 96px;
    background-color: #1f2937;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a,
.hero-text,
.hero-button,
.hero-right {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 96px;
    gap: 24px;
    color: white;
}

.hero-left {
    flex: 1 1 260px;
    min-width: 260px;
    max-width: 430px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
}

.hero-button {
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 6px;
    border-width: 0;
    padding: 8px 24px;
}

.hero-button:hover {
    background-color: #316fd3;
}

.hero-right {
    background-color: #67a;
    flex: 0 0 auto;
    width: 430px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    margin: 48px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.squares {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
}

.square-pair {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

.square-text {
    color: #468;
}

.square {
    border-radius: 12px;
    box-sizing: border-box;
    border: solid #3882f6;
    border-width: 4px;
    height: 150px;
    width: 150px;
}

.quote-box {
    align-self: stretch;
    display: flex;
    justify-content: center;
    padding: 96px;
    margin-top: 96px;
    background-color: #e5e7eb;
}

.quote-box-inner {
    display: flex;
    flex-direction: column;
    max-width: 560px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #9ab;
    font-weight: 100;
}

.quote-author {
    text-align: right;
    color: #1f2937;
    font-weight: 900;
    font-size: 24px;
}

.button-box {
    display: flex;
    gap: 48px;
    align-items: center;
    margin: 96px;
    padding: 48px 96px;
    border-radius: 6px;
    background-color: #3882f6;
    color: white;
}

.bb-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bb-header {
    font-weight: bold;
    font-size: 24px;
}

.bb-text {
    font-size: 16px;
}

.bb-button {
    background-color: transparent;
    color: white;
    border: solid white;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
}

.bb-button:hover {
    color: #aaa;
    border: solid #aaa;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 48px;
}